.seolink a {display: inline-block;}

.seolink img {
    margin-left: 25px;
}

span.textseolik {
    font-size: 6em;
    display: inline-block;
    position: relative;
    line-height: 0.8;
    margin-left: 70%;
    color: #5f8ecc;
    font-family: Tahoma;
}

.sbup {
    background-color: #f8f8f8;
}

.sbup img {
    margin-left: 15%;
    box-shadow: 0px 0px 5px #d27f5e;
}

.prcy img {
    margin-top: 3px !important;
    margin-left: -5px;
}

.prcy {
    background-color: #435173;
    color: #fff;
    text-indent: 3%;
}

.vkcount, .gpluscount, .ytcount {
    font-size: 5em;
    line-height: 0.8;
}

.fbcount {
  font-size: 2.2em;   line-height: 0.8;
}

.vkinfo, .gplusinfo, .fbinfo, .ytinfo {
    display: inline-block;
    font-size: 0.7em;
    position: absolute;
    left: -135px;
    margin-top: 25px !important;
}

.socialblocks {
    display: block;
    font-size: 1.3em;
    font-family: Tahoma;
}

.twitdiv:not(:last-child) {
    padding-right: 20px !important;
}

.themes, .photo, .video, .users, .links, .divtwitext {font-weight: bold;}

.socialblocks > div {
  position: relative;
    display: inline-block;
    width: 30%;
    margin: 3px 0px;
    padding: 22px;
    height: 100px;
    overflow: auto;
    box-shadow: 0px 2px 10px #ccc;
}
.socialblocks img {
    margin-top: -5px;
    height: 96px;
    position: absolute;
}
.okcount div, .twitterblock .twitdiv {
    display: table-cell;
    line-height: 1.8;
    padding: 0px 10px 0px 0px;
    text-align: center;
}

.gplusinfo {
    left: 3px !important;
    top: 85px;
}

.gplusinfoplus {
    position: absolute;
    right: 120px;
    font-size: 0.7em;
    top: 100px;
}

.helpbtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.socialblocks > div > div {display: inline-block;     margin-left: 25%;}
.socialblocks > div > div + div {display: block;     margin-top: 10px;}

.gpluscountplus {
    position: absolute;
    right: 100px;
    font-size: 5em;
    top: 36px;
}

@media (max-width: 1600px) {


  .vkinfo, .gplusinfo, .fbinfo, .ytinfo {
      left: -110px !important;
  }

  .socialblocks > div {
      width: 29%;
  }

  .socialblocks > div > div {
      margin-left: 30%;
  }

  .okcount div, .twitterblock .twitdiv {
      display: flex  !important;
      line-height: 1.1  !important;
  }

  .themes, .photo, .video, .users, .links, .divtwitext {
      margin-right: 10px !important;
  }

  .prcy img, .sbup img {
      width: 70% !important;
  }

  span.textseolik {
      font-size: 4.5em  !important;
      line-height: 1  !important;
      margin-left: 70%;
  }


}
